<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace="com.karina.app.board.qna.QnaMapper">
  <sql id="search_sql">
 	WHERE
 	
 	<choose>
 	<when test="kind=='v2'">"BOARD_CONTENTS"</when>
 	<when test="kind=='v3'">"BOARD_WRITER"</when>
 	<otherwise>"BOARD_TITLE"</otherwise>
 	</choose> 
 	
 	LIKE CONCAT ('%',#{search},'%')
  </sql>
  <select id="getCount" resultType="Long" parameterType="Pager">
  SELECT COUNT("BOARD_NUM") FROM "TB_QNA"
  <include refid="search_sql"></include>
  </select>
  
  <select id="list" resultType="QnaDTO" parameterType="Pager">
  SELECT * FROM "TB_QNA"
  <include refid="search_sql"></include>
  ORDER BY "BOARD_NUM" DESC
  LIMIT #{perPage} OFFSET #{startNum}
  </select>
  
  <insert id="create" parameterType="QnaDTO" useGeneratedKeys="true" keyProperty="boardNum">
  INSERT INTO "TB_QNA"
  VALUES(DEFAULT,#{boardTitle},#{boardWriter},#{boardContents},now(),0,0,0,0)
  </insert>
  <insert id="createFile" parameterType="QnaFileDTO">
  INSERT INTO "TB_QNAFILE"
  VALUES(DEFAULT,#{fileName},#{oriName},#{boardNum})
  </insert>
  
  <select id="detail" parameterType="QnaDTO" resultMap="detailResult">
  SELECT * FROM "TB_QNA" Q
  LEFT JOIN "TB_QNAFILE" QF
  USING("BOARD_NUM")
  WHERE "BOARD_NUM"=#{boardNum}
  </select>
  
  <resultMap type="QnaDTO" id="detailResult">
  <id column="BOARD_NUM" property="boardNum"/>
  <result column="BOARD_TITLE" property="boardTitle"/>
  <result column="BOARD_WRITER" property="boardWriter"/>
  <result column="BOARD_CONTENTS" property="boardContents"/>
  <result column="BOARD_DATE" property="boardDate"/>
  <result column="BOARD_HIT" property="boardHit"/>
  <result column="BOARD_REF" property="boardRef"/>
  <result column="BOARD_STEP" property="boardStep"/>
  <result column="BOARD_DEPTH" property="boardDepth"/>
  
  <collection property="list" javaType="java.util.List" ofType="FileDTO">
  <id column="FILE_NUM" property="fileNum"/>
  <result column="FILE_NAME" property="fileName"/>
  <result column="ORI_NAME" property="oriName"/>
  </collection>
  </resultMap>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  </mapper>