<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.karina.app.board.notice.NoticeMapper">
  
  <select id="list" resultType="NoticeDTO">
  select * from "TB_NOTICE"
  </select>
  
  <insert id="create" parameterType="NoticeDTO">
  insert into "TB_NOTICE"
  values (default,#{boardTitle},#{boardWriter},#{boardContents},NOW(),0)
  </insert>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  </mapper>