<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.karina.app.board.review.ReviewMapper">

	<select id="list" parameterType="ReviewDTO" resultType="ReviewDTO">
		SELECT * FROM "TB_REVIEW"
		WHERE "PRODUCT_NUM"=#{productNum}
		ORDER BY "REVIEW_DATE" DESC
	</select>

	<insert id="create" parameterType="ReviewDTO">
		INSERT INTO "TB_REVIEW"
		VALUES (DEFAULT,#[productNum],#{productStar},#{productContents},#{username},now())
	</insert>

</mapper>