<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.karina.app.member.MemberMapper">
  <insert id="join" parameterType="MemberDTO">
  INSERT INTO "TB_MEMBER"
  VALUES (
  #{username},#{name},#{password},#{phone},#{email},#{birth}
  )
  </insert>
  <insert id="addProfile" parameterType="ProfileDTO">
  INSERT INTO "TB_PROFILE"
  VALUES(DEFAULT,#{fileName},#{oriName},#{username})
  </insert>
  <select id="detail" parameterType="MemberDTO" resultMap="detailResult">
  SELECT * 
  FROM "TB_MEMBER" M
  	LEFT JOIN 
  	"TB_PROFILE" F
  	USING ("USERNAME")
  	WHERE "USERNAME"=#{username}
  </select>
   <resultMap type="MemberDTO" id="detailResult">
   <id column="USERNAME" property="username"/>
   <result column="NAME" property="name"/>
   <result column="PASSWORD" property="password"/>
   <result column="PHONE" property="phone"/>
   <result column="EMAIL" property="email"/>
   <result column="BIRTH" property="birth"/>
   
   <association property="profileDTO" javaType="ProfileDTO">
   <id column="FILE_NUM" property="fileNum"/>
   <result column="FIKE_NAME" property="fileName"/>
   <result column="ORI_NAME" property="oriName"/>
   </association>
   </resultMap>
  </mapper>